body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif;}
img{
	margin-bottom: -6px; 
	cursor: pointer;
}
 img:hover{
	opacity: 0.6; transition: 0.3s
}
img {
	width: 100%;
	height: 400px!important;
	min-height: 400px!important;
}

#photos {
	margin-top: 30px;
}
